name: medical_app
description: A new Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=2.18.6 <3.0.0'

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.2
  flutter_screenutil: ^5.7.0
  table_calendar: ^3.0.9
  smooth_page_indicator: ^1.0.1
  form_field_validator: ^1.1.0
  intl_phone_field: ^3.1.0
  firebase_auth: ^4.2.2
  google_sign_in: ^6.1.0
  custom_clippers: ^2.0.0
  cloud_firestore: ^4.6.0
  image_picker: ^0.8.7+4
  firebase_storage: ^11.1.2
  firebase_core: ^2.4.1
  uuid: ^3.0.7
  dotted_border: ^2.0.0+3
  agora_uikit: ^1.3.3
  

dev_dependencies:
  flutter_test:
    sdk: flutter

  
  flutter_lints: ^2.0.0


flutter:

  uses-material-design: true

  assets:
        - assets/images/


  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: NunitoSans
      fonts:
        - asset: assets/fonts/NunitoSans-Regular.ttf
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
